

#topSection{
    background-image: url("la.jpeg");
    position: relative;
    background-size: 1450px 1000px;
    opacity: .3;
    height: 800px;
}

.right {
    padding-right: 100px;
}
.btn-top {
    padding-left: 25px;
    background-color: #e57373;
}


#topText{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    z-index: 2;
    font-size: 300%;
    position: absolute;
    top: 250px;
    line-height: 1.2;
}

.skills-text{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    z-index: 2;
    font-size: 100%;
    position: absolute;
    text-align: center;
    top: 1400px;
    line-height: 1.2;
}

#aboutText{
    font-family: 'Cairo', sans-serif;
    font-size: 300%;
    
}

#messageBtn{
    position: fixed;
    top: 760px;
    left: 1250px;
    width: 150px;
    font-size: 70%;
    padding: 3px;
    background-color: black;
}

#backEnd{
    text-align: right;
}

/* .btn:hover{
    background-color: #e57373;
}

.btn:active{
    background-color: #e57373;
}

.btn:focus{
    background-color: #e57373;
} */


#card-image {
    width: 460px;
    height: 400px;
    position: relative;
    top: -40px;
    
}




.collection img{
    height: 150px;
    width: 210px;
    padding: 10px;
}
.collection{
    background-color: white;
    border: none;
}


.modal-content{
    background-color: white;
    border: none;
}

h4{
    font-family: "adobe-caslon-pro",serif;
    font-style: italic;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #616161;
    
}

#about-pic{
    width: 100%;
    margin: 0 auto;
    
    /* margin-top: */
    
}

.background-li {
    background-color: #e3f2fd !important;
}

.modal-content {
    text-align: center;
}

.modal {
    background-color: #e3f2fd !important;
    width: 30%;
    
}

li {
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
}

.black-link{
    color: black;

}
ul{
    padding-left: 0;
}

hr {
    /* margin-top: 5%; */
    margin-bottom: 3%;
}

#skills-line{
    margin-bottom: 0;
}

#project-text{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 300%;
}



#my-bio {
    font-family: 'Josefin Sans', sans-serif;
   padding-bottom: 2px;
   font-size: 125%;
   width: 80%;
}

.carousel .carousel-item img{
    /* display: none; */
    width: 200px;
    height: 200px;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.carousel{
    width: 100%;
}


footer{
    padding-bottom: 20px;
    background-color: black;
}

.skills-section{
    background-image: url("dc.jpg");
    position: relative;
    background-size: 1450px 1000px;
    opacity: .3;
    height: 800px;
}
